:root {
  --dark: #181c29;
  --primary: #ff4646;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: var(--dark);
}

.wrapper {
  max-width: 1276px;
  margin: 0 auto;
}

.header__wrapper {
  height: 64px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  padding: 8px 20px;
  align-items: center;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  padding: 18px 20px;
  border-radius: 12px;
}

.header__item:hover {
  background: #ff46467a; /* Фон при наведении */
}

.header__item:hover .header__link {
  color: var(--primary); /* Цвет текста при наведении */
}

.header__link {
  color: var(--dark);
  font-size: 12px;
  letter-spacing: 5%;
  line-height: 130%;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  height: 648px;
  background-image: url(img/bg-ball.png), url(img/bg-snow.png);
  background-color: var(--primary);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.hero__container {
  max-width: 426px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  gap: 12px;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  /* margin: ; */
}

.hero__title, .hero__span {
  font-family: "Allura", cursive;
  font-weight: 400;
  line-height: 24px;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.hero__header {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.17em;
}

.hero__btn {
  background: var(--dark);
  padding: 20px 32px;
  border-radius: 20px;
  border: none;
}

.hero__btn-link {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  line-height: 15.6px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1em;
}
